// { tweets, title, percentage } 

extends layout

block scripts
    script(type='text/javascript', src='/js/index_jquery.js')
    script(type='text/javascript', src='/js/pie_jquery.js') 

block content
    div#wrapper.cf
        div#header
            h2= title
            div.search-div
                textarea.search-area Type here 
                button.stemmer(type='button') Go!

        div#content
            div.tweet-list
                ol
                    each tweet in tweets
                        li
                            p= tweet.text

            div.chart
                div.percentage(data-percent='#{percentage}') #{percentage}
                div.label general approval

            